body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3e7f7;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #ec0808;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f30000;
}

.hidden {
    display: none;
}

#bmiCategory {
    font-weight: bold;
}
